@model Vuelo
<h2>Detalles del Vuelo</h2>
<p><strong>Vuelo:</strong> @Model.NumeroVuelo</p>
<p><strong>Origen:</strong> @Model.Origen</p>
<p><strong>Destino:</strong> @Model.Destino</p>
<p><strong>Horario:</strong> @Model.Horario</p>
<p><strong>Precio:</strong> $@Model.Precio</p>