@model Avion
<h2>Eliminar Avion</h2>
<p>¿Seguro que deseas eliminar este registro?</p>
<form method="post">
    <input type="hidden" name="id" value="@Model.IdAvion" />
    <button type="submit">Eliminar</button>
    <a href="/Avion">Cancelar</a>
</form>