@model Pasajero
<h2>Crear Pasajero</h2>
<form method="post">
    <label>Documento:</label>
    <input name="Documento" value="@Model.Documento" required />
    <button type="submit">Guardar</button>
</form>