@model Reserva
<h2>Eliminar Reserva</h2>
<p>¿Seguro que deseas eliminar este registro?</p>
<form method="post">
    <input type="hidden" name="id" value="@Model.IdReserva" />
    <button type="submit">Eliminar</button>
    <a href="/Reserva">Cancelar</a>
</form>